ul {
    font-family: Tauri;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2em;
}
h1 {
    font-family: Tauri;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 80px;
text-align: center;
letter-spacing: 0.2em;
color: #26992A;
margin: 200px 0 0 0;
}
#entire {
    background: url(../../marina-bay-sands-hotel.png);
    background-size: cover;
    height: 100vh;
    position: absolute;
    width: 100%;
    text-align: center;
  }
ul {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-decoration: none;
    float: right;
}
p {
    font-family: Tauri;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
text-align: center;
letter-spacing: 0.2em;
color: #506B3F;
width: 25%;
margin: 0 auto;
}
.link {
    color: #26992A;
    text-decoration: none;
    cursor: pointer;
}
#button-main {
    width: 15%;
    background: #26992A;
border-radius: 30px;
height: 80px;
cursor: pointer;
font-family: Tauri;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
text-align: center;
letter-spacing: 0.2em;

color: #FFFFFF;
}